button {
  padding: .5rem 1.5rem;

  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;

  overflow: hidden;

  border: 1px solid #ffffff;
  border-radius: 4px;

  background: none;
  color: rgb(255, 255, 255);

  transition: .6s;

  &:focus {
    outline: none;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
  }

  &:active {
    border: 1px solid #26557c;
  }

  &:hover {
    cursor: pointer;

    color: #1c2731;
    background: #ffffff;

    &:before {
      transform: translateX(300px) skewX(-15deg);
      transition: .7s;
      opacity: .6;
    }

    &:after {
      transform: translateX(300px) skewX(-15deg);
      transition: .7s;
      opacity: 1;
    }
  }
}