@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.woff') format('woff'), url($file-name + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Nobblee', './../../../fonts/nobblee_regular');
@include font-face('Nobblee', './../../../fonts/nobblee_light', 300);
@include font-face('Rubrik', './../../../fonts/rubrik_regular');
@include font-face('Rubrik', './../../../fonts/rubrik_semibold', 600);
@include font-face('FontAwesome', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont');
