.app {
  display: grid;

  grid-template-areas:
    "nav header header"
    "nav main main"
    "nav main main";
  grid-template-rows: 1fr 7fr 7fr;
  grid-template-columns: 1fr 14fr 14fr;

  height: 100vh;

  overflow: hidden;

  .nav {
    grid-area: nav;

    background-color: #1c2731;
  }

  .header {
    grid-area: header;

    background-color: #3498db;
  }

  .main {
    grid-area: main;

    overflow: auto;

    background-color: #34495e;
  }
}